@charset "UTF-8";
body {
  width: 100%;
  font-family: "微软雅黑", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 15px;
  overflow-x: hidden;
  background: #f1f1f1;
}

.w1100 {
  width: 1100px;
  margin: 0 auto;
}
.w1100 a {
  color: #666666;
  text-decoration: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form,
fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  height: 50px;
  width: 1100px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.title .main-title {
  width: 150px;
  margin: -20px auto 0;
  font-size: 24px;
  background: #f1f1f1;
}
.title .line {
  width: 230px;
  height: 2px;
  background: #acacac;
  margin: 20px auto 0;
}